# Environments
.env
.env*.local
*.db
*.sqlite3

# Python
__pycache__/
*.pyc
.venv/
venv/
backend/venv/

# Node.js
node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Other
poc/
*.log
